body{
        color: #000;
}
.ds{
        color: #000;

}
.xx{
        background-color: red;
.color{
        color: #000;

}
.color{
        color: #000;

}
.color{
            color: #000;
        color: #000;

}
.color{
        color: #000;

}.color{
        color: #000;

}
.color{
        color: #000;

}
.color{
        color: #000;

}
.color{
            color: #000;

}